<footer>
    <div class="uk-card-footer">
        <div class="uk-flex">
            <div><h4>{% trans %}footer.languages{% endtrans %}&nbsp;</h4></div>
            <div><a href="/en">&nbsp;English</a></div>
            <div><a href="/">&nbsp;Français</a></div>
        </div>
    </div>
    <div class="uk-hidden@s footer_mobile"></div>
</footer>
